# Dictionaries

This chapter introduces dictionary data structure for mapping identifiers to their respective values.

To this end, we shall discuss the following topics:
 
+ Introduction
+ Creating Dictionaries
+ Accessing and traversing values
+ Adding, deleting and modifying items
+ pop() and copy() method
+ Nested dictionaries
+ Built-in functions and methods
+ Comparison of list with dictionary

## Introduction

+ Dictionary is a data structure in which we store values as a **pair of key and values**.
+ Each key is separated from its value by a colon (:) and consecutive items are separated by commas.
+ The entire set of items in a dictionary is enclosed its curly braces ({}).
+ The syntax for defining a dictionary is:
> **dictionary_name = { key_1: value_1, key_2: value_2, key_3: value_3 }**

+ If there are many keys and values in dictionaries, then we can also write just one key-value   
pair on a line to make the code easier to read and understand. This is shown below:

> **dictionary_name = {key_1: value_1,  
                       key_2: value_2,  
                       key_3: value_3
                      }**


+ While keys in the **dictionary must be unique and be of any immutable data type (like strings, numbers, or tuples),   
there is no stringent requirements for uniqueness and type of values.**

+ Using a mutable object as a dictionary key causes a **TypeError**.
+ Remember that dictionaries are not sequences, rather they are **mappings**.
+ Mappings are collections of objects in which the objects are stored by key instead of by relative position.
+ Dictionary is like an associative array ( also known as a hash) in which any key of the dictionary can be  
associated or mappped to a value.

## Creating A Dictionary

In [44]:
# to create a empty dictionary
d = {}
print(d)

{}

In [45]:
# to create a dictionary with key-value pairs
d = {'EMP NO': '123', 'Name': 'Aaditya', 'Department': 'SALES'}
print(d)

{'EMP NO': '123', 'Name': 'Aaditya', 'Department': 'SALES'}

### Creating a Dictionary Using dict() Method

The **dict()** creates a dictionary directly from a sequence of key-value pairs.

In [46]:
# Creating a dictionary using dict() method
d = dict([('EMP_NO', '123'), ('Name', 'Aaditya'), ('Department', 'SALES')])
print(d)

{'EMP_NO': '123', 'Name': 'Aaditya', 'Department': 'SALES'}

+ We can enclose the keys and values in a separate tuple and then use them as argument in the **zip()** function.
+ The output of the **zip()** function can then be passed as an argument to the **dict()** function so that   
the dictionary can be created using two tuples.

In [47]:
# Creating dictionary using keys and values that 
# are stored as tuples

heads = ('Roll No', 'Name', 'Marks')
vals = ('101', 'Mishti', 99)
Student = dict(zip(heads, vals))
print(Student)

{'Roll No': '101', 'Name': 'Mishti', 'Marks': 99}

## Accessing Values in a Dictionary

+ To access values in a dictionary, square brackets are used along with the **key**.
+ Note that if you try to access an item with a key that is not specified in the dictionary, a **KeyError** is generated.

In [48]:
#Accessing Dicitonary values
d = {'EMP_NO': '123', 'Name': 'Aaditya', 'Department': 'SALES'}
print("d['EMP_NO'] = ", d['EMP_NO'])
print("d['Name'] = ", d['Name'])
print("d['Deparment'] = ", d['Department'])

d['EMP_NO'] =  123
d['Name'] =  Aaditya
d['Deparment'] =  SALES

In [49]:
print(d['Salary'])

KeyError: 'Salary'

## Adding an item in a Dictionary

+ To add a new entry or a key-value pair in a dictionary just specify the key-value pair.
+ The syntax to add an item in a dictionary is **dictionary_var[key] = val**.

In [50]:
d = {'EMP_NO': '123', 'Name': 'Aaditya', 'Department': 'SALES'}
print(d)

{'EMP_NO': '123', 'Name': 'Aaditya', 'Department': 'SALES'}

In [51]:
# adding an item in a dictionary
d['Salary'] = 95000
print(d)

{'EMP_NO': '123', 'Name': 'Aaditya', 'Department': 'SALES', 'Salary': 95000}

## Modifying an item in a dictionary

In [52]:
# adding and modifying values in a dictionary
d = {'EMP_NO': '123', 'Name': 'Aaditya'}
print("Orginial Dictionary: ", d)

Orginial Dictionary:  {'EMP_NO': '123', 'Name': 'Aaditya'}

In [53]:
d['Department'] = 'Sales'  # new key-value pair added
d['Name'] = 'Aadi'  # existing value modified

print('Updated Dictionary', d)

Updated Dictionary {'EMP_NO': '123', 'Name': 'Aadi', 'Department': 'Sales'}

## Deleteing Items

+ One or more items in a dictionary can be deleted using the **del** keyword.
+ To delete or remove all the items in just one statement, use the **clear()** function.
+ To delete the entire dictionary from the memory, we can again use the del statement as **del Dict_name**.
+ Syntex for use the del statement is: **del dictionary_name[key]**.

In [54]:
d = {'EMP_NO': '123', 'Name': 'Aaditya', 'Department': 'SALES'}
print("Original Dictionary: ", d)

Original Dictionary:  {'EMP_NO': '123', 'Name': 'Aaditya', 'Department': 'SALES'}

In [55]:
del d['EMP_NO']  # a particular key-value pair deleted

In [56]:
print("After deleting EMP_NO: ", d)

After deleting EMP_NO:  {'Name': 'Aaditya', 'Department': 'SALES'}

In [57]:
d.clear() #all entries deleted

In [58]:
print("After deleting all entries: ", d)

After deleting all entries:  {}

In [59]:
del d  # delete dictionary

In [60]:
print("Printing Dictionary after deleting it: ", d)

NameError: name 'd' is not defined

## The pop() method

+ The pop() method can be used to delete a particular key from the dictionary.
+ The syntax of the **pop()** method is: **dict.pop(key [, default])**
+ The pop() method removes an item from the dictionary and returns its value.
+ If the specified key is not present in the dictionary, then the default value is returned.
+ If you do not specify the default value and the key is also not present in the dictionary, then a **KeyError** is generated.
+ Another method, **popitem()**, randomly pops and returns an item from the dictionary.

In [61]:
# Program to randomly pop an element from a dictionary
d = {'EMP_NO': '123', 'Name': 'Aaditya', 'Department': 'SALES'}
print("Original Dictionary: ", d)

Original Dictionary:  {'EMP_NO': '123', 'Name': 'Aaditya', 'Department': 'SALES'}

In [62]:
print("Name is: ", d.pop('Name')) # returns name

Name is:  Aaditya

In [63]:
print("Dictionary after popping Name is: ", d)

Dictionary after popping Name is:  {'EMP_NO': '123', 'Department': 'SALES'}

In [64]:
print('Salary is: ', d.pop('Salary', -1))  # returns default value

Salary is:  -1

In [65]:
print("Randomly popping any item: ", d.popitem())

Randomly popping any item:  ('Department', 'SALES')

In [66]:
print("Dictionary after random popping is: ", d)

Dictionary after random popping is:  {'EMP_NO': '123'}

In [67]:
print("Designation is: ", d.pop('Designation')) #generates error

KeyError: 'Designation'

## KEY POINTS TO REMEMBER

+ Key must have unique values. **Key should not be duplicated in a dictionary**.
+ If you try to add a duplicate key then the last assignment is retained.

In [68]:
#Dictionary with duplicate keys
d = {'EMP_NO': '123', 'Name': 'Aaditya', 'Department': 'SALES', 'EMP_NO': '345'}
print(d)

{'EMP_NO': '345', 'Name': 'Aaditya', 'Department': 'SALES'}

+ In a dictionary, **key should be strictly of a type that is immutable**.
+ This means that a key can be of strings, number or tuple type but it cannot be a list which is immutable.
+ In case you try to make your key a mutable type, then a **TypeError** will be generated.
+ The **keys()** method of dictionary returns a list of all the keys used in the dictionary, in an arbitrary order.
+ Use **sorted()** function to sort the keys.

In [69]:
# Program to use tuple as keys
d = {(1,2), (3,4)}
print(d)

{(1, 2), (3, 4)}

In [70]:
d = {(1,2), ([3,4])}
print(d)

TypeError: unhashable type: 'list'

In [71]:
# Dictionary with sorted keys
d = {'EMP_NO': '123', 'Name': 'Aaditya', 'Department': 'SALES', 'EMP_NO': '345'}
print(sorted(d.keys()))

['Department', 'EMP_NO', 'Name']

In [72]:
# Dictionary to check single key in a dictinary
d = {'EMP_NO': '123', 'Name': 'Aaditya', 'Department': 'SALES', 'EMP_NO': '345'}

if 'Department' in d:
    print(d['Department'])

SALES

+ The **in keyword** can be used to check whether a single key is in the dictionary.

In [73]:
# Dictionary using a tuple of lists having key-value pairs
student = dict((['Roll No', '101'], ['Name', 'krish'], ['Marks', 90]))
print(student)

{'Roll No': '101', 'Name': 'krish', 'Marks': 90}

In [74]:
student = dict(('Roll No', '101'), ('Name', 'krish'), ('Marks', 90))
print(student)

TypeError: dict expected at most 1 argument, got 3

In [75]:
student = dict((('Roll No', '101'), ('Name', 'Krish'), ('Marks', 90)))
print(student)

{'Roll No': '101', 'Name': 'Krish', 'Marks': 90}

## Traversing a Dictionary

+ Looping over a Dictionary can be done to access only values, only keys or both using the for loop.
+ We can use the **items()** method that returns a list of tuples (key-value pair).
+ The **keys()** method returns a list of keys in the dictionary.
+ The **values()** method returns a list of values in dictionary.

In [80]:
# Program to access items in a dictionary
d = {'EMP_NO': '123', 'Name': 'Aaditya', 'Department': 'SALES', 'EMP_NO': '345'}

print("KEYS: ", end = " ")
for key in d:
    print(key, end = " ") # accessing only keys

KEYS:  EMP_NO Name Department

In [81]:
print("\nVALUES : ", end = " ")

for val in d.values():
    print(val, end = ' ') # accessing only values

VALUES :  345 Aaditya SALES

In [83]:
print("\nDICTIONARY : ", end = " ")

for key,val in d.items():
    print(key, val, "\t", end = ' ') # accessing keys and values

DICTIONARY :  EMP_NO 345 	 Name Aaditya 	 Department SALES

## NESTED DICTIONARIES

In [85]:
# program to illustrate nested dictionary
Employee = {'Aman': {'EMP_NO':90, 'Sal':89, 'Desig': 'Analyst'},
            'Sadhvi': {'EMP_NO': 91, 'Sal':87, 'Desig': 'Programmer'},
             'Kiyan': {'EMP_NO': 92, 'Sal': 92, 'Desig': 'Testing Professional'}}

for key, val in Employee.items():
    print(key, val)

Aman {'EMP_NO': 90, 'Sal': 89, 'Desig': 'Analyst'}
Sadhvi {'EMP_NO': 91, 'Sal': 87, 'Desig': 'Programmer'}
Kiyan {'EMP_NO': 92, 'Sal': 92, 'Desig': 'Testing Professional'}

## THE copy() METHOD

+ The copy() method of dictionary returns a shallow copy of the dictionary, i.e., the dictionary returned will not have a duplicate copy of the original dictionary but will have the same reference.

+ This means that both the copies of dictionaries will point to the same object (or address) in the computer's memory.

In [88]:
# program using copy() method

Emp = {'EMP_NO': 90, 'Sal': 89, 'Desig': 'Analyst'}
print('Original Emp: ', Emp)

Emp_copy = Emp.copy()
print("Copied Emp: ", Emp_copy)

Original Emp:  {'EMP_NO': 90, 'Sal': 89, 'Desig': 'Analyst'}
Copied Emp:  {'EMP_NO': 90, 'Sal': 89, 'Desig': 'Analyst'}

In [87]:
Emp_copy['Sal'] = 99
print("Emp after modification : ", Emp)
print("Copy of Emp after modification : ", Emp_copy)

Emp after modification :  {'EMP_NO': 90, 'Sal': 89, 'Desig': 'Analyst'}
Copy of Emp after modification :  {'EMP_NO': 90, 'Sal': 99, 'Desig': 'Analyst'}

## BUILT-IN Dictionary Functions and Methods