### List

- List is a collection which is ordered and changeable. Allows duplicate members.


- Lists are created using square brackets:

```python
thislist = ["apple", "banana", "cherry"] 
```

- List items are ordered, changeable, and allow duplicate values.

- List items are indexed, the first item has index `[0]`, the second item has index `[1]` etc.

- The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

- To determine how many items a list has, use the `len()` function.

- A list can contain different data types:
```python
list1 = ["abc", 34, True, 40, "male"]
```
- It is also possible to use the list() constructor when creating a new list
```python
thislist = list(("apple", "banana", "cherry"))  # note the double round-brackets
```
- pop() function removes the last value in the given list by default.

  ```python
  thislist = ["apple", "banana", "cherry"] 
  
  print(thislist.pop())  # cherry
  print(thislist.pop(0))  #apple 
  
  ```

#### For Python Execution Visualizer: https://pythontutor.com/render.html#mode=edit

# LIST
+ It is a versatile data type available in Python, in which elements are written as a list of comma-separated values (items) between square brackets.
+ Lists in Python are mutable as we can change the value of their elements.
+ **Mutuable Data Type** : lists, dictionaries, and sets are mutable
+ **Immutable Data Types**: Int, Float, Tuple, Complex, String ,frozen set, Bytes
+ Syntax of List
```python
List_variable = [val1, val2, ...]
```

In [1]:
list_A = [1,2,3,4,5]
print(list_A)

[1, 2, 3, 4, 5]

In [2]:
list_B = ['A', 1, 'C', 2, 'E']
print(list_B)

['A', 1, 'C', 2, 'E']

In [3]:
list_C = ["Hello", "World"]
print(list_C)

['Hello', 'World']

In [4]:
list_D = [1, 'a', 'HELLO']
print(list_D)

[1, 'a', 'HELLO']

In [5]:
## Empty List
l = []
print(l)

[]

In [7]:
print(l == True)

False

## ACCESSING VALUES IN LISTS
+ Like strings, lists can also be sliced and concatenated.
+ Syntax
```python
seq = List[start:stop:step]
```

In [8]:
seq = [7,0,6,3,6,4,7,6,0,8,'K', 'O', 'L', 'K', 'A', 'T', 'A']
print(seq)

[7, 0, 6, 3, 6, 4, 7, 6, 0, 8, 'K', 'O', 'L', 'K', 'A', 'T', 'A']

In [9]:
seq[::2]

[7, 6, 6, 7, 0, 'K', 'L', 'A', 'A']

In [10]:
seq[10::3]

['K', 'K', 'A']

In [11]:
seq[-3]

'A'

In [12]:
seq[3:]

[3, 6, 4, 7, 6, 0, 8, 'K', 'O', 'L', 'K', 'A', 'T', 'A']

In [13]:
seq[::-1]

['A', 'T', 'A', 'K', 'L', 'O', 'K', 8, 0, 6, 7, 4, 6, 3, 6, 0, 7]

In [14]:
seq[-9:9]

[0]

+ If the **start** and **end** values of the slice operation are beyond the size of the list, then all the elements within the specified range are returned.

In [15]:
l = [1,2,3,4]
print(l[-9:9])

[1, 2, 3, 4]

In [16]:
l = [1,2,3,4.5]
print(l[-3:9])

[2, 3, 4.5]

## THE eval() Function

+ It is used to evaluate and return the result of an expression as a string.

In [17]:
eval("10==10")

True

In [18]:
eval("20 <= 10")

False

In [19]:
eval("30 - 5*4 + 20")

30

In [20]:
eval(" 'HELLO' * 3")

'HELLOHELLOHELLO'

## UPDATING VALUES IN LISTS

###### Code Example 01
**Let us write a program that uses the eval() function to accept a list numbers and print the sum of the elements**

In [ ]:
list1 = eval(input("Enter values: "))
print(list1)
sum(list1)
print("SUM = ", sum(list1))

###### Code Example 02
**Using the eval() function to accept input of different types.**

In [23]:
a = eval(input("Enter an integer: "))
print(type(a))

b = eval(input("Enter a float: "))
print(type(b))

c = eval(input("Enter a tuple: "))
print(type(c))

d = eval(input("Enter a list: "))
print(type(d))

Enter an integer: 1
<class 'int'>
Enter a float: 12.5
<class 'float'>
Enter a tuple: (1,2,3)
<class 'tuple'>
Enter a list: [1,2,3]
<class 'list'>

###### Code Example 03

For Visualise: https://shorturl.at/elr12

+ to add values in the list use **append()** method
+ If you know exactly which element(s) to delete, use the **del** statement; otherwise, use the **remove()** method to delete the unknown elements.

In [26]:
num_list = [2,4,6,8,10,12,14,16,18,20]
print("List is: ", num_list)
num_list[5] = 100
print("List after updation is: ", num_list)
num_list.append(200)
print("List after appending a value is: ", num_list)
del num_list[3]
print("List after deleting a vlaue is: ", num_list)

List is:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
List after updation is:  [2, 4, 6, 8, 10, 100, 14, 16, 18, 20]
List after appending a value is:  [2, 4, 6, 8, 10, 100, 14, 16, 18, 20, 200]
List after deleting a vlaue is:  [2, 4, 6, 10, 100, 14, 16, 18, 20, 200]

###### Code Example 04

In [36]:
num_list = [2,4,6,8,10,12,14,16,18,20]
del num_list[3:6]  # DELETES NUMBERS AT INDEX 3,4,5
print(num_list)

del num_list[:]  # DELETED ALL THE NUMBERS FROM THE LIST
print(num_list)

[2, 4, 6, 14, 16, 18, 20]
[]

In [33]:
del(num_list)     # the list no longer exists
print(num_list)

NameError: name 'num_list' is not defined

In [35]:
del num_list
print(num_list)

NameError: name 'num_list' is not defined

**Note that when we write del num_list, the entire variable is deleted. if you make any attempt to use this variable after the del statement, then an error will be generated**

## RELATIONAL OPERATIONS ON LISTS

+ We can compare two lists objects using relational opertors like ==, >, <, >=, <=, !=, etc. 
+ Python conpares elements of a list in lexicographical order.
+ Each elemenet of the list is compared with the corresponding element in the other list.
+ However, to use operators like >=, <=, >, < the two values must be of compatible types; otherwise an error will be generated.

###### Code Example 05

In [37]:
l1 = [1,2,3]
l2 = [1,2,3]
l3 = [1, [2,3]]

In [38]:
print(l1 == l2)

True

In [39]:
print(l1 == l3)

False

###### Code Example 06

In [44]:
l1 = [1,2,3]
l2 = [1,3,3]

print(l1 >= l2)

False

In [45]:
print(l1 <= l2)

True

In [46]:
l1 = [1,2,3,4]
l2 = [1,3,3]
print(l1 >= l2)

False

###### Code Example 07

In [47]:
l1 = [1,2,3,4]
l2 = ['a', 'b', 'c']
l3 = [1.0, 2.0, 3.0]
print(l1 >= l3)

True

In [48]:
print(l2 >= l3)

TypeError: '>=' not supported between instances of 'str' and 'float'

In [49]:
l1 = [1,2,3]
l2 = [1.0, 2.0, 3.0]
print(l1 == l2)

True

## NESTED LISTS

+ Nested list means a list within another list.


###### Code Example 08

In [53]:
## Creatinga Nested List
list1 = [1,2, 'a', [5.0, 6, "ABCD", "BYE"], "HELLO", 345]

i = 0
while(i < len(list1)):
    print("List1[", i, "] = ", list1[i])
    i += 1

List1[ 0 ] =  1
List1[ 1 ] =  2
List1[ 2 ] =  a
List1[ 3 ] =  [5.0, 6, 'ABCD', 'BYE']
List1[ 4 ] =  HELLO
List1[ 5 ] =  345

In [54]:
list1[3][0]

5.0

In [55]:
list1[3][-1]

'BYE'

In [60]:
list1[3][::-1]

['BYE', 'ABCD', 6, 5.0]

### Creating a list within another list creating a nested list


###### Code Example 09

In [61]:
num_list = [2,4,12,14]
print("Original List: ", num_list)

num_list[2] = [6,7,8]
print("After inserting another list: ", num_list)

Original List:  [2, 4, 12, 14]
After inserting another list:  [2, 4, [6, 7, 8], 14]

In [62]:
print(num_list[2][0])

6

## LIST ALIASING AND CLONING

### ALIASING

+ When one list is assigned to another list using the assignment operator (=), the new copy of the list is not made.
+ Instead, assignment operation makes the two variables point to the same list in memory. This is also known as aliasing.


### CLONING
+ If you want to modify a list and also keep a copy of the original list, then you should create a separate copy of the list (not just the reference). This process is called cloning. 
+ **The slice operation is used to clone a list**.


Visualizer: https://shorturl.at/delsv

###### Code Example 09

In [65]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print("List2 = ", list1)


list2 = list1  # list aliasing
print("List2 = ", list2)

list3 = list1[2:5] # list cloning
print("List3 = ", list3)

List2 =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List2 =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List3 =  [3, 4, 5]

## DELETING

###### Code Example 10

In [66]:
l = [1,2,3,4,5,6,7,8,9,10]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
## deleting third element
del l[2]

print(l)

[1, 2, 5, 6, 7, 8, 9, 10]

In [72]:
## deleting fourth, fifth, sixth and seventh elements from the list
del l[3:7]
print(l)

[1, 2, 9]

In [73]:
## deleting the entire list
print("Deleting List: ")
del l
print(l)

Deleting List:

NameError: name 'l' is not defined

## DEEP COPIES AND SHALLOW COPIES IN PYTHON

#### DEEP COPY
+ A deep copy makes a new and separate copy of an entire object or list with its own unique memory address.
+ Therefore, any changes made in the new copy of the object/list will not be reflected in the original one.
+ A deep copy creates a new list or object by recursively copying the elements from the original object to the new one. 
+ So, both the objects are completely indepedent of each other.
+ This is similar to the concept of **passing by value** in language like **C++, JAVA, and C#**


#### SHALLOW COPY
+ A shallow copy also makes a separate new object or list.
+ However, in this case, instead of copying the elements to the new object, **it simply copies the reference to their memory addresses**.
+ Hence, changes made in the original object, would also be reflected in the copied object, and vice versa.
+ Similar to the concept of **pass by reference** in programming language like **C++, JAVA< and C#**


###### NOTE
+ **The assignment operator (=) is used to create a shallow copy of the list**
+ **The list() creates a deep copy**

![immg](https://scaler.com/topics/images/shallow-copy-and-deep-copy.webp)

###### Code Example 11

###### SHALLOW COPY

Visualizer: https://shorturl.at/acpqB

In [79]:
# creating a shallow copy of a list

l1 = [1,2,3,4,5]
l2 = l1

print("L1 = ", l1)
print("L2 = ", l2)

L1 =  [1, 2, 3, 4, 5]
L2 =  [1, 2, 3, 4, 5]

In [80]:
l1[2] = 10
print("L1 = ", l1)
print("L2 = ", l2)

L1 =  [1, 2, 10, 4, 5]
L2 =  [1, 2, 10, 4, 5]

###### Code Example 12
###### DEEP COPY

Visualiser: https://shorturl.at/szKW2

In [97]:
# creating a deep copy of a list
import copy
l1 = [1,2,3,4]
l2 = copy.deepcopy(l1)

print("L1 = ", l1)
print("L2 = ", l2)

L1 =  [1, 2, 3, 4]
L2 =  [1, 2, 3, 4]

In [98]:
l1[2] = 200

print("L1 = ", l1)
print("L2 = ", l2)

L1 =  [1, 2, 200, 4]
L2 =  [1, 2, 3, 4]

## BASIC LIST OPERATIONS

| Operations    |       Description                                                                 |   
|---------------|---------------------------------------------------------------------------------- |
| len           | Returns length of list                                                            |
| concatenation | Joins two lists                                                                   | 
| repetition    | Repeat elements in the list                                                       |
| in            | Checks if the value is present in the list                                        |
| not in        | Checks if the value is not present in the list                                    |
| max           | Return maximum value in the list                                                  |
| min           | Return minimum value in the list                                                  |
| sum           | Adds the values in the list that has numbers                                      |
| all           | Returns True if all elements of the list are true (or if the list is empty)       |
| any           | Return True if any element of the list us true. If the list is empty, return False|
| list          | Convert tuple, string to a list                                                   |
| sorted        | Return a new sorted list. The original list is not sorted.                        |

In [102]:
## len
l1 = [1,2,3,4,5]
print("Length of the list is: ", len(l1))

Length of the list is:  5

In [103]:
## conctenatiopn operator --> + 
l1 = [1,2,3]
l2 = [3,4,5]
print("Concatenation of two lists: ", l1 + l2)

Concatenation of two lists:  [1, 2, 3, 3, 4, 5]

In [104]:
## repetition --> *
l1 = [1,2,3]
print("Repetition of list three times: ", l1*3)

Repetition of list three times:  [1, 2, 3, 1, 2, 3, 1, 2, 3]

In [105]:
## in
"a" in ['a', 'e', 'i', 'o', 'u']

True

In [106]:
## not in
"a" not in ['a', 'e', 'i', 'o', 'u']

False

In [107]:
## max
l1 = [1,2,3,4]
print(max(l1))

4

In [108]:
## min
l1 = [1,2,3,4]
print(min(l1))

1

In [109]:
## sum
l1 = [1,2,3,4]
print(sum(l1))

10

In [111]:
## all  <-- True,if all elements are True otherwise False
l1 = [1,2,3,4, 0]
print(all(l1))

False

In [112]:
## all  <-- True,if any elements are True otherwise False
l1 = [1,2,3,4, 0]
print(any(l1))

True

In [113]:
## list
list1 = list("PYTHON")
print(list1)

TypeError: 'list' object is not callable

In [117]:
## sorted
l = [1,0,3,7,4,5,6]
l2 = sorted(l)
print(l2)

[0, 1, 3, 4, 5, 6, 7]

In [116]:
print(l)

[1, 0, 3, 7, 4, 5, 6]

## LIST METHODS

+ Python has various methods to help programmers work efficiently with lists.

## PROGRAMMER'S ZONE

##### 1. WAP that creates a list of numbers from 1-20 that are either divisible by 2 or divisible by 4 without using the filter operation

In [118]:
div_2_4 = []

for i in range(2,22):
    if(i%2 == 0 or i%4 == 0):
        div_2_4.append(i)
        
print(div_2_4)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

##### 2. WAP that defines a list of countries that are member of BRICS. Check whether a country is a member of BRICS or not.

In [119]:
country = ['Brazil', 'India', 'China', 'Russia', 'Sri Lanka']
is_member = input("Enter the name of the country: ")

if is_member in country:
    print(is_member, "has also joined BRICS")
else:
    print(is_member, "is not a member of BRICS")

Enter the name of the country: Pakistan
Pakistan is not a member of BRICS

##### 3. WAP to create a list of numbers in the range 1 to 10. Then delete all the even numbers from the list and print the final list.

In [120]:
num_list = []
for i in range(1,11):
    num_list.append(i)

print("ORIGINAL LIST: ", num_list)

for index, i in enumerate(num_list):
    if i%2 == 0:
        del num_list[index]

print("List after deleting even numbers : ", num_list)

ORIGINAL LIST:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List after deleting even numbers :  [1, 3, 5, 7, 9]

##### 4. WAP to print the index at which a particular values exists. If the value exists at multiple location in tge list, then print all the indices. Also count the number of times that value is repeated in the list.