# LIST

List is a linear data structure that falls under the category of sequential data type of Python.

A list is generally a mutable sequence, that is its length can be changed or we can modify the value it contain.

+ **Mutuable Data Type** : lists, dictionaries, and sets are mutable
+ **Immutable Data Types**: Int, Float, Tuple, Complex, String ,frozen set, Bytes
+ Syntax of List
```python
List_variable = [val1, val2, ...]
```

# Properties of List:

1. It is a linear and sequential data structure.
2. It is mutable in nature.
3. It may contain homogenous and heterogenous type of data.
4. It is one of the four data type of Python.
5. We can implement a list within another list, and such type of lists are known as nested lists.

# LIST CREATION

## Creating an empty list

In [71]:
L = []
print(L)

[]

In [72]:
L1 = list()
print(L1)

[]

## Creating list with some values

### Creating a homogeneous list (same type of data)

In [73]:
L = [10,20,30,40,50]
print(L)

[10, 20, 30, 40, 50]

### Creating a heterogeneous list (different types of data)

In [74]:
L = [10, 4.762, '@']
print(L)

[10, 4.762, '@']

### More examples

In [75]:
a = "Hello Python"
L = list(a)
print(L)

['H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [76]:
list_B = ['A', 1, 'C', 2, 'E']
print(list_B)

['A', 1, 'C', 2, 'E']

In [77]:
list_C = ["Hello", "World"]
print(list_C)

['Hello', 'World']

In [78]:
list_D = [1, 'a', 'HELLO']
print(list_D)

[1, 'a', 'HELLO']

In [79]:
l = [1,2,3,4,0.5,"abc","def",[3,5,"mayuk",5.0], (2,3,4), "defghi", 5.5]
print(l)

[1, 2, 3, 4, 0.5, 'abc', 'def', [3, 5, 'mayuk', 5.0], (2, 3, 4), 'defghi', 5.5]

# INDEXING AND SUBSCRIPT

The concept of indexing or subscript is used to fetch individual data from a list or any sequential structure,

There are two types of indexing supported by Python --

1. **Forward Indexing** :- Starts from left to right of the structure, starting with the value 0 upto size - 1.
2. **Reverse Indexing** :- Moves from right to left and starts from -1 to negative size.

![imge](https://www.alphacodingskills.com/python/img/python-list.png)

In [80]:
L = ['MON', 'TUE', 'WED', 'THU', 'FRI']
print(L)

['MON', 'TUE', 'WED', 'THU', 'FRI']

In [81]:
L[0]

'MON'

In [82]:
L[1]

'TUE'

In [83]:
L[2]

'WED'

In [84]:
L[3]

'THU'

In [85]:
L[4]

'FRI'

In [86]:
L[5]

IndexError: list index out of range

In [87]:
print(L[0], L[1], L[2])

MON TUE WED

In [88]:
print(L[-1], L[-2], L[-3], L[-4])

FRI THU WED TUE

In [89]:
print(L[-6])

IndexError: list index out of range

## PERFORMING DIFFERENT OPERATIONS ON LIST

## BASIC LIST OPERATIONS

| Operations    |       Description                                                                 |   
|---------------|---------------------------------------------------------------------------------- |
| len           | Returns length of list                                                            |
| concatenation | Joins two lists                                                                   | 
| repetition    | Repeat elements in the list                                                       |
| in            | Checks if the value is present in the list                                        |
| not in        | Checks if the value is not present in the list                                    |
| max           | Return maximum value in the list                                                  |
| min           | Return minimum value in the list                                                  |
| sum           | Adds the values in the list that has numbers                                      |
| all           | Returns True if all elements of the list are true (or if the list is empty)       |
| any           | Return True if any element of the list us true. If the list is empty, return False|
| list          | Convert tuple, string to a list                                                   |
| sorted        | Return a new sorted list. The original list is not sorted.                        |

### LENGTH

In [90]:
l1 = [1,2,3,4,5]
print("Length of the list is: ", len(l1))

Length of the list is:  5

### LIST REPETATION

In [91]:
L = [2,4,6]
print(L)

[2, 4, 6]

In [92]:
print(L*2)

[2, 4, 6, 2, 4, 6]

In [93]:
print(L*3)

[2, 4, 6, 2, 4, 6, 2, 4, 6]

In [94]:
print(L*4)

[2, 4, 6, 2, 4, 6, 2, 4, 6, 2, 4, 6]

In [95]:
print(L*(-1))

[]

In [96]:
print(L*L)

TypeError: can't multiply sequence by non-int of type 'list'

### MERGING OF TWO LISTS

In [97]:
L = [2,4,6]
L1 = [8, 10, 12]

print(L + L1)

[2, 4, 6, 8, 10, 12]

In [98]:
print(L1 + L)

[8, 10, 12, 2, 4, 6]

In [99]:
print(L1 + 2)

TypeError: can only concatenate list (not "int") to list

In [100]:
print(L1 + [2,3])

[8, 10, 12, 2, 3]

In [101]:
## in
"a" in ['a', 'e', 'i', 'o', 'u']

True

In [102]:
## not in
"a" not in ['a', 'e', 'i', 'o', 'u']

False

In [103]:
## max
l1 = [1,2,3,4]
print(max(l1))

4

In [104]:
## min
l1 = [1,2,3,4]
print(min(l1))

1

In [105]:
## sum
l1 = [1,2,3,4]
print(sum(l1))

10

In [106]:
## list
list1 = list("hello")
print(list1)

['h', 'e', 'l', 'l', 'o']

In [107]:
## sorted
l = [1,0,3,7,4,5,6]
l2 = sorted(l)
print(l2)
print(l)

[0, 1, 3, 4, 5, 6, 7]
[1, 0, 3, 7, 4, 5, 6]

## LIST SLICING

The process of deriving a sublist from a given list is known as list slicing

+ Syntax
```python
seq = List[start:stop:step]
```

+ **start** will be included
+ **stop** will not be included in index is given.
+ **step - 1** denotes how many numbers you want to skip

+ **L[2 : 3 ]**  --> start = 2, stop = 3 and step = 1 (by default)
+ **L[3: ]** --> start = 3, stop = end and step = 1
+ **L[::-1]** --> start = 0, stop = end, and step = -1
+ **L[2:8:3]** --> start = 2, stop = 8, and step = 3 (two numbers will be skipped)
+ **L[::]** => start = 0, stop = end, and step = 1 (no numbers will be skipped)
+ **L[:]** == **L[::]**

![img12](https://prepinstadotcom.s3.ap-south-1.amazonaws.com/wp-content/uploads/2020/07/Slicing-in-python.webp)

### EXAMPLE

In [108]:
L = [2,4,6,8,10]
print(L)

[2, 4, 6, 8, 10]

In [109]:
L[1:3] # starts from 1st index and goes till the 2nd index

[4, 6]

In [110]:
L[2:] # starts from 2nd index and goes till the end

[6, 8, 10]

In [111]:
L[:3]  # start from 0the index and till 2nd index

[2, 4, 6]

In [112]:
L[::]  ## full list

[2, 4, 6, 8, 10]

In [113]:
L[:] ## same as above

[2, 4, 6, 8, 10]

In [114]:
L[::-1]  # reverse the list

[10, 8, 6, 4, 2]

In [115]:
# start from 0th index goes till the end but skip one number
L[::2]

[2, 6, 10]

In [116]:
L[-4: -1]

[4, 6, 8]

In [117]:
L[-1:]

[10]

In [118]:
L[6:]

[]

In [119]:
L[-2:-4:-1]

[8, 6]

In [120]:
L[::-3]

[10, 4]

## EXERCISE

In [121]:
s = [7,0,6,3,6,2,4,6,7,9,'K','O', 'L', 'K', 'A', 'T', 'A']
print(s)

[7, 0, 6, 3, 6, 2, 4, 6, 7, 9, 'K', 'O', 'L', 'K', 'A', 'T', 'A']

## Find the output of

1. s[::2]
2. s[10::3]
3. s[-3]
4. s[3:]
5. s[::-1]
6. s[-9:9]
7. s[:8]
8. s[3:9:4]
9. s[1:7:2]
10. s[-2:-7:-3]