# WORKSHEET ON TUPLE

## MCQ

```python

1. (a) (1,)   (d) tuple([1])
2. (b) (2, 4, 3, 2, 4, 3)
3. (d) Error
4. (c) max()   (d) sum()
5. (c) True
6. (a) +
7. (d) T[3]
```

## ASSERTION AND REASONING BASED:

## CASE BASED QUESTIONS

```python
12.  
(a) T1[1:6]
(b) T1[-4:]
(c) T1[:7:2]
(d) T1[1:-2:3]

13.
T1=(23,41,12,78,82,33,45,29)
print(T1.index(12))      <--- (c) 2
print(T1[3:])            <--- (d) (78, 82, 33, 45, 29) 
print(max(T1) - min(T1)) <--- (a) 70
print(list(T1[:4]))      <--- (b) [23, 41, 12, 78]

14.
T1=eval(input())
tln=len(T1)

for x in T1:
    if(x<10):
        c1=c1+1
    elif(x<100):
        c2=c2+1
    else:
        c3=c3+1
        
(a) LINE 17
(b) LINE 16
(c) LINE 19
(d) LINE 22 23
```

## SAQ (APPLICATION BASED):

```python
15. 
(i)   False
(ii)  False
(iii) True
(iv)  True

16.
4
17

17. 
(i) 3
(ii) 5
(iii) 10

18. 
(a) TypeError: Because of the line 22 where (3,) is a tuple it must be  integer.
t3 = (6, 7)
t4 = t3*3
t5 = t3 * (3)
t6 = t3 * (3,)
print(t4)
print(t5)
print(t6)

(b) NO ERROR

19.
True

20. 
4

21.
(i) 5
(ii) 8

22.
x = (1, (2, (3, (4,))))
print (len(x) )           <-- 2
print( x[1][0] )          <-- 2
print( 2 in x )           <-- False

y = (1, (2, (3,), 4), 5)
print( len(y) )           <-- 3
print( len(y[1]) )        <-- 3
print( y[2] = 50 )        <-- Syntax Error

z = (2, (1, (2,), 1), 1)
print( z[z[z[0]]] )       <-- (1, (2,), 1)

23.
(i) ('c', 'd', 'e')
(ii) (('g', 'h', 'i'), 'k')
(iii) ('k', ('g', 'h', 'i'), 'e', 'c', 'a')
(iv) 'h'
(v) ('k', 'f', 'c')

24. 
T=('Jack','and','Jill','went','up','the','the','hill')

(i) T[2:5]
(ii) T[::2]
(iii) T.index('Jill')
(iv) sorted(T)

```

## THEORY QUESTIONS

## PROGRAM:

In [84]:
# 31
a = eval(input('Enter the tuple ='))
b = int(input ("Enter the index number ="))

if b < len(a):
    print ("Value is =", a[b])
else :
    print ("Index out of range")

Enter the tuple =(1,2,3)
Enter the index number =2
Value is = 3

In [1]:
# 32
term= int (input ("Enter Fibonacci Term ="))
fib = (0,1,1)

for i in range(term):
    fib = fib + ( fib [ i + 1] + fib [ i + 2 ],)
    
for j in range(len(fib)):
    if term == fib[ j ] :
        break
        
if j == len(fib)-1:
    print("Not Exist in Fibonacci Series ")
else :
    print("Fibonacci Series :- ", fib [ 0 :j +1] )
    print()
    print("This is ",j + 1,"th term of Fibonacci ")

Enter Fibonacci Term =8
Fibonacci Series :-  (0, 1, 1, 2, 3, 5, 8)

This is  7 th term of Fibonacci

In [2]:
# 33
num_of_students = 5
tup = ()

for i in range(num_of_students):
    print("Enter the marks of student", i + 1)
    m1 = int(input("Enter marks in first subject: "))
    m2 = int(input("Enter marks in second subject: "))
    m3 = int(input("Enter marks in third subject: "))
    tup = tup + ((m1, m2, m3),)
    print()
    
print("Nested tuple of student data is:", tup)

for i in tup:
    s = sum(i)
    n = len(i)
    print("Sum of all the subjects of student", i+ 1, "is: ", s)
    print(" Average of Students", i+1, "is: ", s/n )

Enter the marks of student 1
Enter marks in first subject: 45
Enter marks in second subject: 45
Enter marks in third subject: 40

Enter the marks of student 2
Enter marks in first subject: 35
Enter marks in second subject: 40
Enter marks in third subject: 38

Enter the marks of student 3
Enter marks in first subject: 36
Enter marks in second subject: 30
Enter marks in third subject: 38

Enter the marks of student 4
Enter marks in first subject: 25
Enter marks in second subject: 27
Enter marks in third subject: 20

Enter the marks of student 5
Enter marks in first subject: 10
Enter marks in second subject: 15
Enter marks in third subject: 20

Nested tuple of student data is: ((45, 45, 40), (35, 40, 38), (36, 30, 38), (25, 27, 20), (10, 15, 20))

In [11]:
# 34
for j, i in enumerate(tup):
    s = sum(i)
    n = len(i)
    print("Sum of all the subjects of student", j+1, "is: ", s)
    print("Average of student", j+1, "is: ", round(s/n,2) )
    print()

Sum of all the subjects of student 1 is:  130
Average of student 1 is:  43.33

Sum of all the subjects of student 2 is:  113
Average of student 2 is:  37.67

Sum of all the subjects of student 3 is:  104
Average of student 3 is:  34.67

Sum of all the subjects of student 4 is:  72
Average of student 4 is:  24.0

Sum of all the subjects of student 5 is:  45
Average of student 5 is:  15.0

In [12]:
# 35
tup1 = eval(input("Enter the elements of first tuple: "))
tup2 = eval(input("Enter the elements of second tuple: "))
tup3 = tup1 + tup2
print(tup3)

Enter the elements of first tuple: (1,2,3)
Enter the elements of second tuple: (4,5,6)
(1, 2, 3, 4, 5, 6)

In [83]:
# 36
tup = ((2,5),(4,2),(9,8),(12,10))
count = 0

for i in range(len(tup)):
    if tup [i][0] % 2 == 0 and tup[i][1] % 2 == 0:
        count = count + 1
        
print("The number of pair where both a and b are even:", count)

The number of pair where both a and b are even: 2

In [20]:
# 37
t = eval(input('Enter string in a tuple: '))


for e,i in enumerate(t):
    if i[0][0] == i[-1][-1]:
        print(e,"=>",i)

Enter string in a tuple: ('hello','hi', 'his', 'archisa',        'error', 'none', 'wave', 'indeed', 'numbers', 'work', 'abca')
3 => archisa
10 => abca

In [22]:
# 38
t = eval(input("Enter a set of numbers in a tuple: "))

print("Unique elements in a tuple is: ", tuple(set(t)))

Enter a set of numbers in a tuple: (2,2,3,4,4,5,1,1,2,3,4,2,3,4,5)
Unique elements in a tuple is:  (1, 2, 3, 4, 5)

In [26]:
# 39
country = eval(input("Enter a name of some countries (in tuple): "))
capitals = eval(input("Enter a capital of those countries (in tuple): "))

print()
for i in range(len(country)):
    if len(country) == len(capitals):
        print("Country: ", country[i], " Capital: ", capitals[i])
    else:
        print("Country and Capital is not mapped properly.")

Enter a name of some countries (in tuple): ('UK', 'Cuba', 'India', 'France', 'Australia', 'Switzerland')
Enter a capital of those countries (in tuple): ('London', 'Havana', 'New Delhi', 'Paris', 'Canberra', 'Berne')

Country:  UK  Capital:  London
Country:  Cuba  Capital:  Havana
Country:  India  Capital:  New Delhi
Country:  France  Capital:  Paris
Country:  Australia  Capital:  Canberra
Country:  Switzerland  Capital:  Berne

In [31]:
# 40
st = eval(input("Enter a tuple of String:"))
longest_word = st[0] 
max_len = len(st[0])

for index, word in enumerate(st):
    if len(word) > max_len:
        max_len = len(word)
        longest_word = word
        pos = index
    else:
        pos = index 
        pass
    
print("Longest word: ",longest_word)
print("Position of Longest word: ", pos + 1)

Enter a tuple of String:('abc', 'efghi')
Longest word:  efghi
Position of Longest word:  2

## HOME WORK:

In [37]:
# 41
tuple1 = (23,1,45,67,45,9,55,45)
tuple2 = (100,200)

# Find the output of the following statements:
print(tuple1.index(45))
print(tuple1.count(45))
print(tuple1 + tuple2)
print(len(tuple2))
print(max(tuple1)) 
print(min(tuple1))
print(sum(tuple2))
print(sorted(tuple1))
print(tuple1)

2
3
(23, 1, 45, 67, 45, 9, 55, 45, 100, 200)
2
67
1
300
[1, 9, 23, 45, 45, 45, 55, 67]
(23, 1, 45, 67, 45, 9, 55, 45)

In [39]:
# 42
n = int(input("Enter number of students : "))
list1=[]

for i in range(n):
    email=input("Enter email: ")
    list1.append(email)

tuple1=tuple(list1)
names=[]
domains=[]

for i in tuple1:
    name,domain = i.split("@")
    names.append(name)
    domains.append(domain)

names = tuple(names)
domains = tuple(domains)
print("Names = ",names)
print("Domains = ",domains)
print("Tuple = ",tuple1)

Enter number of students : 3
Enter email: abcde123@gmail.com
Enter email: dpskolkata2021@yahoo.com
Enter email: nogmail707@hotmail.com
Names =  ('abcde123', 'dpskolkata2021', 'nogmail707')
Domains =  ('gmail.com', 'yahoo.com', 'hotmail.com')
Tuple =  ('abcde123@gmail.com', 'dpskolkata2021@yahoo.com', 'nogmail707@hotmail.com')

In [42]:
# 43
n = int(input("Enter the number of students: "))
list1 = []

for i in range(n):
    name = input()
    list1.append(name)
    
# makes a tuple from the list of names
tuple1 = tuple(list1)
findName = input("Enter name to find: ")

# part (a) a user defined function to search
def userDefinedSearch():
    #loops through every element of tuple
    for item in tuple1:
        #if any element is equal to what we are finding
        if item == findName:
            #announce item found
            print("Name found")
            return #return from the function
        #this statement is reached only if the element is not fou
    print("Name not found")

#calling user defined function
userDefinedSearch()

if tuple1.index(findName) >=0 :
    print("Name found")
else:
    print("Name not found")

Enter the number of students: 2
subham
simran
Enter name to find: simran
Name found
Name found

In [32]:
# 49

t = eval(input("Enter a numbers in a tuple: "))
new_tup1 = t[::2]
new_tup2 = t[1::2]

print("New Tuple 1 is: ", new_tup1)
print("New Tuple 2 isL ", new_tup2)

Enter a numbers in a tuple: (10,20,30,40,50,60)
New Tuple 1 is:  (10, 30, 50)
New Tuple 2 isL  (20, 40, 60)

In [33]:
# 50
t1 = eval(input("Enter a tuple 1: "))
t2 = eval(input("Enter a tuple 2: "))
t3 = ()

for i in t1:
    for j in t2:
        if i == j:
            t3 = t3 + (i, )
            
print("Intersection of tuples is: ", t3)

Enter a tuple 1: (10,30,50,40,60)
Enter a tuple 2: (20,40,60,70)
Intersection of tuples is:  (40, 60)