# Tuple

This section analyzes another important data structure in Python - that is, **tuple**.   
The chapter explains where and how tuples can be used to manipulate data.

## Agenda

+ Introduction
+ Creating and accessing values of a tuple
+ Updating and deleting values
+ Indexing, Assigning, Joining, and Unpacking tuple objects
+ Using tuples to return multiple values from a function
+ The count() and zip() methods
+ Comparing tuples and lists
+ Nested tuples

## Introduction

+ A tuple is an immutable object. This means that you cannot change the values in a tuple.

+ Tuples uses round parentheses to define its elements whereas lists use square brackets.

## Creating a Tuple

In [9]:
# creates an empty tuple
tup1 = ()
print(tup1)

()

In [10]:
# creates a tuple with a single element
tup1 = (5,)
print(tup1)
print(type(tup1))

(5,)
<class 'tuple'>

In [14]:
# CATCH: using only round brackets will not create tuple
tup1 = (5)
print(tup1)
print(type(tup1))

5
<class 'int'>

In [18]:
# CATCH : Using only comma after element is a tuple 
tup1 = 5,
print(tup1)
print(type(tup1))

(5,)
<class 'tuple'>

In [21]:
# CATCH: Using comma only 
tup1 = 5,6,7,8
print(tup1)
print(type(tup1))

(5, 6, 7, 8)
<class 'tuple'>

In [22]:
# Tuple of integers
tup1 = (1,2,3,4,5,6)
print(tup1)

(1, 2, 3, 4, 5, 6)

In [23]:
# create a tuple of mixed values
tup1 = (1, "abc", 2.3, 'd')
print(tup1)

(1, 'abc', 2.3, 'd')

In [24]:
# create a tuple of characters
tup1 = ('a', 'b', 'c', 'd', 'e', 'f')
print(tup1)

('a', 'b', 'c', 'd', 'e', 'f')

In [25]:
# create a tuple of srings
tup1 = ("abc", "def", "ghi")
print(tup1)

('abc', 'def', 'ghi')

In [26]:
# create a tuple of floating point numbers
tup1 = (1.2, 3.4, 5.6, 7.8, 9.4)
print(tup1)

(1.2, 3.4, 5.6, 7.8, 9.4)

## KEY POINTS TO REMEBER

+ An set of comma-separated values written without an identifying symbol like brackets or parentheses, etc. is treated as a tuple by default.

In [34]:
tup = 14,15,16
print(tup)
print(type(tup))

(14, 15, 16)
<class 'tuple'>

+ If you want to create a tuple with single element, you must add a comma after the element. In the absence of a comma, Python treats the element as an ordinary data type.

In [31]:
tup = (15,)
print(tup)

(15,)

In [32]:
tup = (10)
print(type(tup))

<class 'int'>

+ We can use the **eval()** function to input a tuple. But while specifying the input elements, enclose them within parenthese as shown in the code.

In [28]:
# eval() function to read Tuple
tup = eval(input("Enter the value of a tuple: "))
print(tup)
print(type(tup))

Enter the value of a tuple: (1,2,3.4,'a',"abc")
(1, 2, 3.4, 'a', 'abc')
<class 'tuple'>

+ We can also use **tuple()** function to create a tuple with the specified sequence.

In [36]:
tup = tuple("abc")
print(tup)

('a', 'b', 'c')

In [37]:
tup = tuple([1,2,3])
print(tup)

(1, 2, 3)

# UTILITY OF TUPLES

Tuples are immutable. Hence they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change.

Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

Because of this ability and the guarantee that data is never changed, you can use tuples in dictionaries and sets, which require the elements inside them to be of an immutable type.

It is beneficial when you need to store values that don't change over time, like a person's birthdate or height.

# ACCESSING VALUES IN A TUPLE

In [39]:
tup1 = (1,20,3,40,5,60,7,80,9,100,11,120)
print(tup1)
print(tup1[4:8])
print(tup1[:5])
print(tup1[3:])
print(tup1[:])
print(tup1[:-4])
print(tup1[-1:5])
print(tup1[::-2])

(1, 20, 3, 40, 5, 60, 7, 80, 9, 100, 11, 120)
(5, 60, 7, 80)
(1, 20, 3, 40, 5)
(40, 5, 60, 7, 80, 9, 100, 11, 120)
(1, 20, 3, 40, 5, 60, 7, 80, 9, 100, 11, 120)
(1, 20, 3, 40, 5, 60, 7, 80)
()
(120, 100, 80, 60, 40, 20)

In [42]:
tup2 = [1,'a', 2, 'bcd', 3.4, 5, '3', 6.7, 'efg', 'e']
print(tup2)
print(tup2[3])
print(tup2[10-4*2+5])
print(tup2[3:6])
print(tup2[2:7:2])
print(tup2[-10:10])
print(tup2[3][0])
print(tup2[8][-1])

[1, 'a', 2, 'bcd', 3.4, 5, '3', 6.7, 'efg', 'e']
bcd
6.7
['bcd', 3.4, 5]
[2, 3.4, '3']
[1, 'a', 2, 'bcd', 3.4, 5, '3', 6.7, 'efg', 'e']
b
g

# UPDATING TUPLE

In [43]:
tup = (1, 'a', 2, 'bcd', 3.4, 5, 'e')
tup[3] = 'Not Possible'
print(tup)

TypeError: 'tuple' object does not support item assignment

In [44]:
tup = (1,2,3)
print(tup[10])

IndexError: tuple index out of range

In [47]:
tup = (1,2,3)
print(tup[-10:10]) # No error in case of slice

(1, 2, 3)

# DELETING ELEMENTS IN TUPLE

Since tuple is an immutable data structure, you cannot delete value(s) from it.     
Of course, you can create a new tuple that has all elements in your tuple except the ones you do not want (those you wanted to deleted).

+ However entire tuple can be deleted by tuple by using the **del** statement.

In [56]:
tup1 = (1,2,3,4,5)
del tup1[3]  # delete an element
print(tup1)

TypeError: 'tuple' object doesn't support item deletion

In [57]:
tup1 = (1,2,3,4,5)
del tup1[1:4]  # delete an element
print(tup1)

TypeError: 'tuple' object does not support item deletion

In [58]:
tup4 = (1,2,3,4,5)
del tup4  # deleting whole tuple

In [59]:
print(tup4)

NameError: name 'tup4' is not defined

# JOINING TUPLES

+ Like lists, two or more tuples can be joined using the **+** operator.  
+ The **+** operator requires that both the operand must be of tuple types.  
+ Number or any other data tupye vales cannot be added to a tuple.  
+ To add a single element to a tuple, we must use comma after the value

In [61]:
# joining tuple
tup1 = (1,2,3)
tup2 = (4,5,6)
tup3 = tup1 + tup2
print(tup3)

(1, 2, 3, 4, 5, 6)

In [62]:
# joining tuples with a non-number value
tup1 = (1,2,3)
tup2 = tup1 + 'a'
print(tup2)

TypeError: can only concatenate tuple (not "str") to tuple

In [63]:
tup1 = (1,2,3)
tup2 = tup1 + (4,)
print(tup2)

(1, 2, 3, 4)

# UNPACKING TUPLES

+ Creating a tuple from a set of vakues is called packing.
+ Creating individual values from a tuple is known as unpacking.
+ The syntax of unpacking can be given as:
> var1, var2, var3, ..., varn = tuple_variable
+ Tuple packing and unpacking are very useful to change the values in a tuple.

In [67]:
# Unpacking tuple
tup = (1, 'a', 2.0, 'bcd', 3)
(a,b,c,d,e) = tup
print("a = ", a, end = " | ")
print("b = ", b, end = " | ")
print("c = ", c, end = " | ")
print("d = ", d, end = " | ")
print("e = ", e, end = " | ")

a =  1 | b =  a | c =  2.0 | d =  bcd | e =  3 |

In [68]:
# Packing tuple
a= 1; b = 'a'; c = 2; d = 'bcd'
tup = (a,b,c,d)
print("tup = ", tup)

tup =  (1, 'a', 2, 'bcd')

### In case we need to change the values in a tuple, there are three ways:  

1. Create a new tuple with modified values
2. First unpack the tuples into variables. Modify the value of the variables and then pack those variable to form a tuple.
3. Convert a tuple into a list using the **list()** function. Modify the list values and then use the **tuple()** function to convert the list into a tuple.

In [70]:
## first way
tup1 = (1,2,4,4)
tup2 = (1,2,3,4) # changed tuple
print(tup2)

(1, 2, 3, 4)

In [71]:
# second way
tup1 = (1,2,4,4)
a,b,c,d = tup1
c = 3
tup1 = (a,b,c,d)
print(tup1)

(1, 2, 3, 4)

In [72]:
# third way
tup1 = (1,2,4,4)
l = list(tup1)
l[2] = 3
print(tuple(l))

(1, 2, 3, 4)

# BASIC TUPLE OPERATIONS