# WORKSHEET ON TUPLE

## MCQ

```python

1. (a) (1,)   (d) tuple([1])
2. (b) (2, 4, 3, 2, 4, 3)
3. (d) Error
4. (c) max()   (d) sum()
5. (c) True
6. (a) +
7. (d) T[3]
```

## ASSERTION AND REASONING BASED:

## CASE BASED QUESTIONS

```python
12.  
(a) T1[1:6]
(b) T1[-4:]
(c) T1[:7:2]
(d) T1[1:-2:3]

13.
T1=(23,41,12,78,82,33,45,29)
print(T1.index(12))      <--- (c) 2
print(T1[3:])            <--- (d) (78, 82, 33, 45, 29) 
print(max(T1) - min(T1)) <--- (a) 70
print(list(T1[:4]))      <--- (b) [23, 41, 12, 78]

14.
T1=eval(input())
tln=len(T1)

for x in T1:
    if(x<10):
        c1=c1+1
    elif(x<100):
        c2=c2+1
    else:
        c3=c3+1
        
(a) LINE 17
(b) LINE 16
(c) LINE 19
(d) LINE 22 23
```

## SAQ (APPLICATION BASED):

```python
15. 
(i)   False
(ii)  False
(iii) True
(iv)  True

16.
4
17

17. 
(i) 3
(ii) 5
(iii) 10

18. 
(a) TypeError: Because of the line 22 where (3,) is a tuple it must be  integer.
t3 = (6, 7)
t4 = t3*3
t5 = t3 * (3)
t6 = t3 * (3,)
print(t4)
print(t5)
print(t6)

(b) NO ERROR

19.
True

20. 
4

21.
(i) 5
(ii) 8

22.
x = (1, (2, (3, (4,))))
print (len(x) )           <-- 2
print( x[1][0] )          <-- 2
print( 2 in x )           <-- False

y = (1, (2, (3,), 4), 5)
print( len(y) )           <-- 3
print( len(y[1]) )        <-- 3
print( y[2] = 50 )        <-- Syntax Error

z = (2, (1, (2,), 1), 1)
print( z[z[z[0]]] )       <-- (1, (2,), 1)

23.
(i) ('c', 'd', 'e')
(ii) (('g', 'h', 'i'), 'k')
(iii) ('k', ('g', 'h', 'i'), 'e', 'c', 'a')
(iv) 'h'
(v) ('k', 'f', 'c')

24. 
T=('Jack','and','Jill','went','up','the','the','hill')

(i) T[2:5]
(ii) T[::2]
(iii) T.index('Jill')
(iv) sorted(T)

```

## THEORY QUESTIONS

## PROGRAM:

In [79]:
# 31
a = eval (input('Enter the tuple ='))
b = int (input ("Enter the index number ="))
if b < len(a):
    print ("Value is =", a[b])
else :
    print ("Index out of range")

Enter the tuple =(1,2,3,4)
Enter the index number =2
value is = 3

In [81]:
# 32
term= int (input ("Enter Fibonacci Term ="))
fib = (0,1,1)

for i in range(term):
    fib = fib + ( fib [ i + 1] + fib [ i + 2 ],)
    
for j in range(len(fib)):
    if term == fib[ j ] :
        break
        
if j == len(fib)-1:
    print("Not Exist in Fibonacci Series ")
else :
    print("Fibonacci Series :- ", fib [ 0 :j +1] )
    print()
    print("This is ",j + 1,"th term of Fibonacci ")

Enter Fibonacci Term =36
Not Exist in Fibonacci Series

In [82]:
# 33
num_of_students = 5
tup = ()

for i in range(num_of_students):
    print("Enter the marks of student", i + 1)
    m1 = int(input("Enter marks in first subject: "))
    m2 = int(input("Enter marks in second subject: "))
    m3 = int(input("Enter marks in third subject: "))
    tup = tup + ((m1, m2, m3),)
    print()
    
print("Nested tuple of student data is:", tup)

Enter the marks of student 1
Enter marks in first subject: 12
Enter marks in second subject: 12
Enter marks in third subject: 12

Enter the marks of student 2
Enter marks in first subject: 221
Enter marks in second subject: 23
Enter marks in third subject: 23

Enter the marks of student 3
Enter marks in first subject: 1232
Enter marks in second subject: 133
Enter marks in third subject: 13

Enter the marks of student 4
Enter marks in first subject: 112
Enter marks in second subject: 122
Enter marks in third subject: 21

Enter the marks of student 5
Enter marks in first subject:

ValueError: invalid literal for int() with base 10: ''

In [ ]:
# 34

In [ ]:
# 35
tup1 = eval(input("Enter the elements of first tuple: "))
tup2 = eval(input("Enter the elements of second tuple: "))
tup3 = tup1 + tup2
print(tup3)

In [83]:
# 36
tup = ((2,5),(4,2),(9,8),(12,10))
count = 0
tup_length = len(tup)
for  i in range (tup_length):
    if tup [i][0] % 2 == 0 and tup[i][1] % 2 == 0:
        count = count + 1
print("The number of pair where both a and b are even:", count)

The number of pair where both a and b are even: 2

In [ ]:
# 37

In [ ]:
# 38

In [ ]:
# 39